*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #424e61;
    color: white ;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    align-items: center;
}
.cabecalho-imagem {
    width: 10%;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
}
.escola{
    background-image: linear-gradient(#424e61, #4ebfe9);
    color: white;
    font-size: 21px;
    margin: 0;
    padding: 165px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-imagem{
    width: 25%;
}
.escola-titulo{
    padding: 24px 0;
}
